@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 14.5rem;
  height: 24rem;
  padding: 0.8rem;
  background-color: var(--white);
  border-radius: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qr-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.desc {
  margin-top: 1.5rem;
  border: 1px solid red;
  text-align: center;
  width: 12rem;
}

.desc h1 {
  font-size: 1em;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: var(--dark-blue);
}

.desc p {
  font-size: 0.7em;
  color: var(--grayish-blue);
  font-weight: 400;
}
